name: Unit Tests
on:
  push:
    branches: [main, master]

  pull_request:
    branches: [main, master]

permissions:
  contents: read

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v6

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: stable

    # note: `--skip TestBackend` can be removed once NATS tests are fixed
    - name: Go Unit Tests
      run: go test -cover -tags=test --skip TestBackend ./...
      env:
        CGO_ENABLED: "1"

    - name: Go Unit Tests nocgo
      run: go test -cover -tags=test --skip TestBackend ./...
      env:
        CGO_ENABLED: "0"
