name: Unit Tests
on:
  push:
    branches: [main, master]

  pull_request:
    branches: [main, master]

permissions:
  contents: read

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v6
    # note: `--skip TestBackend_Watch` can be removed once NATS tests are fixed
    - name: Go Unit Tests
      run: go test -cover -tags=test --skip TestBackend_Watch ./...
    - name: Go Unit Tests (nocgo)
      run: go test -cover -tags=test --skip TestBackend_Watch ./...
      env:
        CGO_ENABLED: "0"
