name: Unit Tests
on:
  push:
    branches: [main, master]
    paths-ignore:
      - "**.md"
      - ".github/workflows/actionlint.yaml"
  pull_request:
    branches: [main, master]
    paths-ignore:
      - "**.md"
      - ".github/workflows/actionlint.yaml"

permissions:
  contents: read

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v6

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25'

    - name: Go Unit Tests
      run: go test -cover -tags=test ./...
      env:
        CGO_ENABLED: "1"

    - name: Go Unit Tests nocgo
      run: go test -cover -tags=test ./...
      env:
        CGO_ENABLED: "0"
